<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>469264683998-kfqiuua87h2matib7ni095enp6c1utq3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.469264683998-kfqiuua87h2matib7ni095enp6c1utq3</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>469264683998-u6j0kuo086npcjp4rtcj8elt9flide8o.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDa4VEe_ksdU-EdT4WiikyI7FfyLCVwMGY</string>
	<key>GCM_SENDER_ID</key>
	<string>469264683998</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.orma.project90.orma</string>
	<key>PROJECT_ID</key>
	<string>orma-project-90</string>
	<key>STORAGE_BUCKET</key>
	<string>orma-project-90.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:469264683998:ios:17137aeaf4a96cf135834f</string>
</dict>
</plist>